<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1><a class="navbar-brand fs-1 page-title" href="#">PHOTOchaton</a></h1>
    <div class="mx-auto order-0">
      <%= image_tag("logo1.png", class: "navbar-brand img-fluid navbar-logo") %>
    </div>
    <div class="d-flex">
      <%= link_to root_path, class: "navbar-brand navbar-icon-link" do %>
        <i class="fas fa-home navbar-icon"></i>
      <% end %>
      <%= link_to "#", class: "navbar-brand navbar-icon-link" do %>
        <i class="fas fa-search navbar-icon"></i>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-warning navbar-button logout" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-warning navbar-button login" %>
      <% end %>
      <%= link_to (user_signed_in? ? cart_path(current_user.cart) : new_user_session_path), class: "navbar-brand navbar-icon-link" do %>
      <i class="fas fa-shopping-cart navbar-icon"></i>
      <% end %>
    </div>
</nav>