<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <% if @cart.items.empty? %>
      <p>Votre panier est vide</p>
      <div>
        <%= link_to "Commencer mes achats", items_path, class: "btn btn-warning" %>
      </div>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nom de l'article</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.items.each do |item| %>
            <tr class="table-warning">
              <td><%= item.name %></td>
              <td><%= @cart.cart_items.find_by(item_id: item.id).quantity %></td>
              <td><%= item.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= button_to "Vider ce panier", @cart, method: :delete, class: "btn btn-warning" %>
      </div>
      <div class="button">
      <%= button_to checkout_create_path(total: @cart.total_price), :class=>"btn btn-primary", data: {turbo: false} do %>
        <i class="fa-solid fa-money-bill"></i>
        Passer à la commande
      <% end %>
    </div>    
    <% end %>
  </div>
</div>