<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <% if @cart.items.empty? %>
      <p>Votre panier est vide</p>
      <div>
        <%= link_to "Commencer mes achats", items_path, class: "btn btn-warning" %>
      </div>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nom de l'article</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.cart_items.each do |cart_item| %>
            <tr class="table-warning">
              <td><%= cart_item.item.name %></td>
              <td>
              <%= form_with(url: cart_item_path(cart_item), method: :patch) do |f| %>  
                     <%= f.submit '-', name: 'decrement', class: 'decrement-button' %>
                     <%= f.text_field :quantity, value: cart_item.quantity, min: 1, class: 'quantity-field' %>
                     <%= f.submit '+', name: 'increment', class: 'increment-button' %>
              <% end %>
              </td>
              <td><%= cart_item.item.price * cart_item.quantity %></td>
              <td>
              <%= button_to cart_item_path(cart_item), method: :delete, class: 'delete-button' do %>
              <i class="fa fa-trash"></i> <!-- Utilisez l'icône de votre choix ici -->
              <% end %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= button_to "Vider ce panier", @cart, method: :delete, class: "btn btn-warning" %>
      </div>
      <div class="button">
      <%= button_to checkout_create_path(total: @cart.total_price), :class=>"btn btn-primary", data: {turbo: false} do %>
        <i class="fa-solid fa-money-bill"></i>
        Passer à la commande
      <% end %>
    </div>    
    <% end %>
  </div>
</div>