

<%= image_tag("cardImage (2).png", class: "img-fluid centered-and-large") %>

<div class="row m-5">
  <% @items.each do |item| %>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <%= image_tag item.image.url, class: 'card-img-top' if item.image.present? %>
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.description %></p>
          <p class="card-text"><%= number_to_currency(item.price, unit: '€') %></p>
          <div class="d-flex justify-content-between">
            <%= link_to 'Voir', item, class: 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>