<!DOCTYPE html>
<html>
  <head>
    <title>Photochaton</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('logo1.png') %>">
    <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/footer' %>
    <%= yield %>
  </body>
</html>