<!DOCTYPE html>
<html>
  <head>
    <title>Photochaton</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('logo.png') %>">
  </head>

  <body>

  <nav>
  <a class="navbar-brand">Photochaton</a>
  <div>
    <%= link_to "Page d'accueil", root_path, class: "navbar-brand" %>
      <span></span>
    </button>
    <div>
      <ul>
        <% if user_signed_in? %>
          <li>
            <button type="button">
              <%= link_to "Edit email / password", edit_user_registration_path, class: "nav-link" %>
            </button>
          </li>
          <li>
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li>
            <button type="button">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </button>
          </li>
          <li>
            <button type="button">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav> 
    <%= yield %>
  </body>
</html>